
/* Free to use font face by Natanael Gama downloaded from https://fonts.google.com/specimen/Cinzel */
@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #A8DADC;
    height: 100vh;
}

.navbar{
    font-family: 'Fira-Regular';
    display: flex;
    justify-content: center;
}

.title {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: default;
}

.enq-tab {
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.math-tab {
    top: 5%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.code-tab {
    top: 5%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}

.about-tab {
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}