
/* Free to use font face by Natanael Gama downloaded from https://fonts.google.com/specimen/Fira+Code */
@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1D3557;
    height: 100vh;
    margin: 0%;
}

.navbar {
    font-family: 'Fira-Regular';
    display: flex;
    justify-content: center;
}

.tabs {
    list-style-type: none;
    font-size: 20px;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    width: 100%; 
    margin-top: 25px;
    text-align: center;
    padding-left: 20px;
}

.tabs li {
    display: inline-block;
    margin: 0;
    line-height: 40px;
    text-decoration: none;
    position: relative;
}

.tabs li a {
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    color: #A8DADC;
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.tabs li:nth-child(4) a {
    background-color: #E63946;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 -10px;
    color: white;
}

.tabs li a:hover {
    background-color: #A8DADC;
    border-radius: 50px;
    padding: 10px 20px;
    color: black;
    margin-top: 0px;
}

.tabs li:nth-child(1) a,
.tabs li:nth-child(2) a,
.tabs li:nth-child(3) a,
.tabs li:nth-child(5) a {
    margin-top: 5px; 
}

.text-container {
    max-width: 500px;
    margin: 30px 500px;
}

.text-container h1 {
    font-family: 'Fira-Regular';
    font-size: 23px;
    text-align: center;
    color: #A8DADC;
}
