
/* Free to use font face by Natanael Gama downloaded from https://fonts.google.com/specimen/Fira+Code */
@font-face {
    font-family: 'Fira-Regular';
    src: url('../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Notable';
    src: url(../fonts/Notable/Notable-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #A8DADC;
    color: #1D3557;
    display: flex;
    align-items: center;
    font-family: 'Fira-Regular';
    height: 10vh;
    position: relative;
}

.navbar ul {
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    padding: 0;
}

.navbar ul li{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    text-decoration: none;   
    color: #1D3557;
    font-size: 20px;
    padding: 15px 20px; 
}

.tabs {
    margin: 0;
}

.navbar .title {
    font-family: 'Notable';
    font-size: 3vw;
    padding: 0%;
    margin: 0%;
    padding-bottom: 10px;
    cursor: default;
    
}

.navbar a:hover {
    background-color: #1D3557;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}

.navbar a.active {
    background-color: #E63946;
    border-radius: 50px;
    padding: 10px 20px;
    color: white;
}


