
/* Free to use font face by Natanael Gama downloaded from https://fonts.google.com/specimen/Cinzel */
@font-face {
    font-family: 'Cinzel-Regular';
    src: url('../static/fonts/Cinzel-BlackCinzel-BoldCinzel-ExtraBold/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000639;
    height: 200vh;
}

/* MAIN SECTION */
.banner-container {
    width: 100vw;
    height: 15%;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Cinzel-Regular', fallback, monospace;
    /* Fallback font included for error prevention in case first font fails. */
}
  
.banner-container img{
    transform: scale(0.78);
}
  
.banner-container h1{
    margin-top: 2%;
    color: #000639;
}

.message-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    font-size: 60px;
    font-family: 'Cinzel-Regular', fallback, monospace ;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    text-align: center;
}
/* Specifically chose to use px instead of % for font size here to
get exactly the size I wanted. xxx-large and xx-large made the screen
look too empty. */


.scroll-container h3{
    position: absolute;
    cursor: default;
    font-size: large;
    font-family: 'Cinzel-Regular', fallback, monospace ;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    text-align: center;
}

.scroll-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    height: auto;
    width: 30px;
}

/* GALLERY SECTION */
.gallery-title h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    top: 105vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace ;
    font-size: 60px;
    color: #D9D9D9;
}

.harrods-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    top: 145vh;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace ;
    font-size: x-large;

}

.harrods-container h4 {
    position: absolute;
    cursor: default;
    top: -15%;
    left: 50%;
    color: #D9D9D9;
    transform: translate(-50%, -50%);
}

.harrods-container h5 {
    position: absolute;
    cursor: default;
    top: 100%;
    left: 50%;
    color: #D9D9D9;
    transform: translate(-50%, -50%);
    width: max-content; 
    height: auto;
}

.museum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    top: 155vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace ;
    font-size: x-large;
}

.museum-container h4 {
    position: absolute;
    cursor: default;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace;
    color: #D9D9D9;
    height: auto;
    width: max-content; 
    /* max-content stops text from splitting into 2 lines. */
}

.museum-container h5 {
    position: absolute;
    cursor: default;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace;
    color: #D9D9D9;
    height: auto;
    width: max-content; 
    /* max-content stops text from splitting into 2 lines. */
}

.ivy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    top: 165vh;
    left: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace;
    font-size: x-large;
}  


.ivy-container h4 {
    position: absolute;
    top: -15%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace ;
    color: #D9D9D9;
    height: auto;
    width: max-content;
}  

.ivy-container h5 {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Cinzel-Regular', fallback, monospace ;
    color: #D9D9D9;
    width: max-content; 
    height: auto;
} 