
/* Free to use font face by Natanael Gama downloaded from https://fonts.google.com/specimen/Cinzel */
@font-face {
    font-family: 'Cinzel-Regular';
    src: url('../static/fonts/Cinzel-BlackCinzel-BoldCinzel-ExtraBold/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000639;
    margin: 0;
    height: 200vh;
}

.banner-container {
    width: 100vw;
    height: 15%;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Cinzel-Regular';
}
  
.banner-container img{
    transform: scale(0.78);
}
  
.banner-container h1{
    margin-top: 2%;
}

.message-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    font-size: xxx-large;
    font-family: 'Cinzel-Regular';
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    text-align: center;
}

.scroll-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
    font-size: x-large;
    font-family: 'Cinzel-Regular';
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    text-align: center;
}

.scroll-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D9D9D9;
    height: auto;
    width: 30px;
}